<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>01.图层树</string>
		<key>ViewController</key>
		<string>SimpleLayerViewController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>02.寄宿图</string>
		<key>ViewController</key>
		<string>ImageLayerViewController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>03.图层几何学</string>
		<key>ViewController</key>
		<string>GeometryLayerViewController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>04.视觉效果</string>
		<key>ViewController</key>
		<string>VisionLayerViewController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>05.变换</string>
		<key>ViewController</key>
		<string>TransformLayerViewController</string>
	</dict>
</array>
</plist>
